body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 150%;
    float: right;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  color: green;
}

.del {
  text-decoration: line-through;
}

.table {
    float: centre;
    width: 25%;
    border: 3px dashed #7f1f07;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: absolute;
    top: 650px;
    right: 50px;
    font-family: Georgia;
    background-color: #e4c7ae;
}